dotenv_if_exists
PYTHON_VERSION=${PYTHON_VERSION:-3.11}
LATEST_PYTHON_RELEASE=$(pyenv install --list | sed 's/^  //' | grep '^\d' | grep -F "$PYTHON_VERSION." | grep --invert-match 'dev\|a\|b' | tail -1)
[ -z "$(pyenv versions --bare | grep $LATEST_PYTHON_RELEASE)" ] && pyenv install $LATEST_PYTHON_RELEASE
layout pyenv $LATEST_PYTHON_RELEASE
pip install -q --disable-pip-version-check -U pip-tools
